$primary: #fccac5;
$secondary: #85ffe0;
$black: #121212;
$white: #fff;

$inter: "Inter", sans-serif;
$opensans: "Open sans", sans-serif;

.gallery-page {
  .header {
    margin-bottom: 560px;
  }

  .content {
    .content-header {
      font-size: 32px;
      font-weight: 700;
      font-family: $inter;
      padding: 0;
      margin-top: 64px;
      color: $white;
    }
    .date {
      font-family: $inter;
      font-size: 24px;
      color: $black;
      font-weight: 700;
      margin-top: 3px;
      padding-bottom: 24px;
    }

    .image-grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-auto-rows: 135px;
      grid-gap: 8px;
      content-visibility: auto;

      .item {
        border-radius: 5px;
        background-color: #000;
        overflow: hidden;
        position: relative;
        cursor: pointer;

        &:hover {
          img {
            transform: scale(1.1) translateY(-50%);
          }

          .darken {
            opacity: 0;
          }
        }

        .darken {
          background-color: rgba(0, 0, 0, 0.2);
          width: 100%;
          height: 100%;
          position: absolute;
          opacity: 1;
          transition: 0.5s cubic-bezier(0.86, 0, 0.07, 1);
        }

        img {
          width: 100%;
          position: absolute;
          transform: scale(1) translateY(-50%);
          top: 50%;
          transition: 0.5s cubic-bezier(0.86, 0, 0.07, 1);
        }
      }
    }

    .goto {
      width: 100%;
      margin: 90px 0 20px 0;

      .goto-header {
        font-size: 32px;
        font-family: $inter;
        font-weight: 700;
        margin-bottom: 24px;
      }

      .goto-button-container {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-auto-rows: auto;
        grid-gap: 8px;

        .goto-button {
          padding: 12px 0;
          background-color: $white;
          color: $black;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          transition: 0.1s ease-in;
          font-family: $opensans;
          font-size: 14px;
          font-weight: 600;
          box-shadow: #ebbcb7 0 6px 12px;
          border-radius: 10px;
          cursor: pointer;

          &:hover {
            background-color: $black;
            color: $white;
          }
        }
      }
    }
  }

  .image-card-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba($secondary, 0.3);
    backdrop-filter: blur(30px) brightness(115%);
    padding: 0 15px;
    display: grid;
    grid-template-rows: 1fr auto;
    opacity: 0;
    pointer-events: none;

    .image-card {
      padding: 15px;
      border-radius: 25px 25px 0 0;
      background-color: rgba($white, 0.8);
      backdrop-filter: blur(20px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);

      img {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 15px;
      }
    }

    .close-image-card {
      font-size: 14px;
      width: 100%;
      font-family: $inter;
      font-weight: 700;
      padding: 14px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: $black;
      background-color: $secondary;
      box-shadow: 0 6px 12px rgba(#000, 0.08);
      border-radius: 7px;
      color: #121212;
    }
  }
}
